<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Clientes</h1>
      <div class="text-right">
        <%= link_to "Registrar Cliente", new_customer_path, class: "btn btn-primary" %>
      </div>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>E-mail</th>
          <th>Teléfono</th>
          <th>Sector Ecónomico</th>
          <th></th>
        </tr>
        <% @customers.each do |c| %>
          <tr>
            <td><%= c.id %></td>
            <td><%=link_to c.name, c %></td>
            <td><%= c.company %></td>
            <td><%= c.email %></td>
            <td><%= c.phone %></td>
            <td> Sector economico </td>
            <td>
              <%= link_to "Actualizar", edit_customer_path(c) %>
              <%= link_to "Eliminar",  c, method: :delete, data: { confirm: "Estas seguro que deseas eliminar este cliente?" }%>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
