<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Ventas</h1>
      <div class="text-right">
        <%= link_to "Registrar Venta", new_sale_path, class: "btn btn-primary" %>
      </div>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Fecha</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Cliente</th>
          <th></th>
        </tr>
        <% @sales.each do |s| %>
          <tr>
            <td><%= s.id %></td>
            <td><%= s.date %></td>
            <td><%= s.product.name%></td>
            <td><%= s.quantity %></td>
            <td><%= s.customer.name %></td>
            <td>
              <%= link_to "Eliminar",  s, method: :delete, data: { confirm: "Estas seguro que deseas eliminar esta venta?" }%>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
